
*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar{
  display: flex;
  justify-content: space-between;
  background-color: brown;
  height: 4rem;
}

.nav-title{
  padding: 1rem;
}

.nav-itemtitle{
  text-decoration: none;
  color:black;
  margin-left: 2rem;
}

.nav-list{
  display: flex;
  padding: 0.1rem 1rem;
  justify-content: space-between;
}
.nav-items{
  list-style-type: none;
  padding: 1rem;
}

.nav-item{
  padding:1rem;
  text-decoration: none;
  color: black
}

.content{
  display: flex;
  background-color: snow;
  height: 35rem;
}
.side-content{
  margin: 2.5rem 2rem;
  flex: 0 1 15rem;
}
.side-title{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 3rem;
}
.side-list{
  margin: 0.2rem;
  list-style-type: none;
}
.side-item{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 0.5rem;
  
}
.side-link{
  text-decoration: none;
  
  color: black;
  border: 0.01rem solid rgb(49, 44, 40);
  background-color: sandybrown;
  padding: 1rem;
  border-radius: 2rem;
  box-shadow: 0.1rem 0.1rem;
  
}

.main-content{
    flex: 1;
    padding: 2rem 1rem;
}
.product{
  width: 75rem;
  
}

.product-title{
  display:flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

.product-edit{
  box-shadow: 0.2rem 0.2rem 0.2rem 0.2rem;
  margin: 1rem 5rem;
  padding: 1rem;
  border: 0.01rem solid black;
  border-radius: 1rem;
  width: 60rem;

}
.product-edititle{
  display: flex;
  align-items: center;
  justify-content: center;
}
.product-label{
  padding: 1rem 0.5rem;
  margin-right: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  
}
.product-input{
  border: 0.1rem solid black;
  border-radius: 0.5rem;
  padding: 1rem;
}
.inputs{
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-sbmt{
  border: none;
  border-radius: 0.2rem;
  background-color: orange;
  text-shadow: 2rem;
  padding: 1rem;
  margin: 1rem;
  box-shadow: 0.1rem 0.1rem black;
}

.footer{
  height: 6rem;
  display: flex;
  background-color: bisque;
  justify-content: center;
}

@media only screen and (max-width:800px) {
  .side-content{
    flex: 0 1 30rem;
  }
  .inputs{
      margin-bottom: -0.7rem;
      margin-top: -0.7rem;
  }
}

@media only screen and (max-width:600px) {
  .side-content{
    flex: 0 1 30rem;
  }
  .inputs{
      margin-bottom: -0.7rem;
      margin-top: -0.7rem;
  }
}
@media only screen and (max-width: 400px){
  .side-content{
    flex: 0 1 3rem;
  }
  .inputs{
      margin-bottom: -0.6rem;
      margin-top: -0.6rem;
  }
  
}